<nav class="tabs">
  <button
    class="tab-btn left"
    [class.active]="selectedTab === 'orders'"
    (click)="selectedTab = 'orders'"
  >
    Pedidos
  </button>
  <button
    class="tab-btn right"
    [class.active]="selectedTab === 'dishes'"
    (click)="selectedTab = 'dishes'"
  >
    Platos
  </button>
</nav>


<h1 *ngIf="selectedTab === 'orders'" class="panel">Panel de Pedidos
   <button class="refresh-btn" (click)="refrescarPedidos()" title="Refrescar pedidos">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw">
      <polyline points="23 4 23 10 17 10"></polyline>
      <polyline points="1 20 1 14 7 14"></polyline>
      <path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10"></path>
      <path d="M20.49 15a9 9 0 0 1-14.85 3.36L1 14"></path>
    </svg>
  </button>
</h1>

<div *ngIf="selectedTab === 'orders'" class="orders-container">
  <div class="category-section bordered-group" *ngIf="orders.length === 0"><h2 >No hay órdenes realizadas   </h2></div>
  <app-order-card
  *ngFor="let order of orders"
  [order]="order"
  (statusChange)="onStatusChange($event)">
</app-order-card>
</div>

<!-- APARTADO PARA LOS PLATOS -->
 <h1 *ngIf="selectedTab === 'dishes'" class="panel">Panel de Platos</h1>
  <div *ngIf="selectedTab === 'dishes'" class="menu-view">
    <div *ngIf="selectedTab === 'dishes'&& bebidas.length === 0 || bocadillos.length === 0" class="category-section bordered-group">
      <h2 *ngIf="bebidas.length === 0 && bocadillos.length === 0">No hay platos disponibles</h2>
      <h2 *ngIf="bebidas.length === 0">No hay bebidas disponibles</h2>
      <h2 *ngIf="bocadillos.length === 0">No hay bocadillos disponibles</h2></div>
<!-- BEBIDAS -->
<div *ngIf="bebidas.length > 0" class="category-section bordered-group blue">
  <div class="group-legend" (click)="speak(`Bebidas`)">Bebidas</div>
  <div class="items-grid">
    <div *ngFor="let item of bebidas" class="menu-item" (click)="speak(item.name)">
      <div class="image-stack">
        <img *ngFor="let img of getImages(item)|| 'assets/images/Loading_icon.gif'" (error)="onImageError($event)" [src]="img" alt="{{ item.name }}">
      </div>
      <p>{{ item.name }}</p>
    </div>
  </div>

  <h1>Complementos</h1>
  <div class="items-grid">
    <div *ngFor="let mod of bebidaModifiers" class="menu-item" (click)="speak(mod.name)">
      <div class="image-stack">
      <img [src]="getModifierImage(mod.id)|| 'assets/images/Loading_icon.gif'" (error)="onImageError($event)"  alt="{{ mod.name }}">
      </div>
      <p>{{ mod.name }}</p>
    </div>
  </div>
</div>

<!-- BOCADILLOS -->
<div *ngIf="bocadillos.length > 0" class="category-section bordered-group orange">
  <div class="group-legend" (click)="speak(`Bocadillos`)">Bocadillos</div>
  <div class="items-grid">
    <div *ngFor="let item of bocadillos" class="menu-item" (click)="speak(item.name)">
      <div class="image-stack">
        <img *ngFor="let img of getImages(item)|| 'assets/images/Loading_icon.gif'" (error)="onImageError($event)"  [src]="img" alt="{{ item.name }}">
      </div>
      <p>{{ item.name }}</p>
    </div>
  </div>

  <h1 (click)="speak(`Complementos`)">Complementos</h1>
  <div class="items-grid">
    <div *ngFor="let mod of bocadilloModifiers" class="menu-item" (click)="speak(mod.name)">
       <div class="image-stack">
      <img [src]="getModifierImage(mod.id)|| 'assets/images/Loading_icon.gif'" (error)="onImageError($event)" alt="{{ mod.name }}">
      </div>
      <p>{{ mod.name }}</p>
    </div>
  </div>
</div>