/* NAVBAR */
:host {
  display: block;
  text-align: center;
  min-height: 100vh;
  margin: 0 ;
}


nav.tabs {
  top: 60px;  
  height: 10px;
  display: flex;  
  width: 100%;
  justify-content: center;
  padding: 0.5rem;
  background-color: #faead6;
  border-bottom: 2px solid #ccc;  

}

.tab-btn {
  height: 40px;
  width: 100px;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  border: #000 solid 3px;
}

.left {
  border-radius: 15px 0 0 15px;
}

.right {
  border-radius: 0 15px 15px 0;
}

.tab-btn {
  background-color: #fff;
  color: #000;
}
.tab-btn:hover {
  transform: scale(1.1);
  transition: transform 0.3s; 
}
.tab-btn:not(:hover) {
  transform: scale(1);
  transition: transform 0.3s; 
}
.tab-btn.active {
  background-color: #000;
  color: #fff;
}
/* CONTENT */

.panel{
  text-align: left;
  padding: 2rem;
}
.orders-container,
.dishes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
  text-align: center;
}
.refresh-btn {
  margin-left: 12px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  border-color: #000 1px solid;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
  width: 70px;
  height: 70px;

}

.refresh-btn:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  color: #0056b3;
}
.orders-container h2 {
  width: 100%;
}


/* PLATOS */
.menu-view {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.category-section {
  border: 3px solid #000;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: #fff;
  width: 45%;
}

.category-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.category-title.blue {
  background-color: #03A9F4;
  color: white;
}

.category-title.orange {
  background-color: #FF9800;
  color: white;
}

.items-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.menu-item {
  text-align: center;
  width: 100px;
}
.image-stack {
  display: grid;
  grid-template-columns: repeat(2, auto); /* ← 2 columnas */
  gap: 10px;
  justify-content: center;
}
.items-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 450px; /* ajusta según el tamaño de los items */
  margin: auto;
  margin-top: 20px;
}
.image-stack img {
  width: 45px;
  height: 45px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: #a1a1a1 3px 3px 3px ;
  border: #969696 solid 1px;
}
.menu-item > img {
  width: 60px;
  height: 60px;
  box-shadow: #a1a1a1 3px 3px 3px;
  transition: transform 0.3s;
}
.menu-item img {
  box-shadow: #a1a1a1 3px 3px 3px;
  transition: transform 0.3s;
}
.menu-item img:hover {
  transform: scale(1.1);
  transition: transform 0.3s; 
  cursor: pointer;

}
.bordered-group {
  position: relative;
  border: 3px solid black;
  border-radius: 10px;
  padding-top: 2rem;
  padding: 2rem 1.5rem 1.5rem;
  background-color: #fff;
}

.group-legend {
  position: absolute;
  top: -1.4rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0.5rem 1.5rem;
  border: 3px solid black;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1.4rem;
  z-index: 1;
}

.group-legend.small {
  top: auto;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* Colores específicos */
.bordered-group.blue .group-legend {
  background-color: #03A9F4;
  color: white;
}

.bordered-group.orange .group-legend {
  background-color: #FF9800;
  color: white;
}
